
    <div class="container">
        <div class="col-sm-4 col-md-3">
            <h1 class="title">
                Disclaiminator
            </h1>
            <h2 class="subtitle">
                Final Steps
            </h2>
            <div id="project-sticker" class="sticker">
                <span class="ProjectName inputProjectName"></span>
                <span class="owner inputProjectManager"></span>
                <br>
                <span class="helper adTrax"></span> <span class="helper">|</span> <span class="helper inputTracking"></span>
                <br>
            </div>
            <br><br>
            <p>
                Download your project files or customize the options for your download below.
            </p>
            <div class="col-sm-12 switch-wrap">
                <div class="switch">
                    <input class="cmn-toggle cmn-toggle-round js-input" type="checkbox" id="downloadJS" name="downloadJS" checked>
                    <label for="disclaimerExpandView"></label>
                </div>
                <div class="switch-label mod-right">disclaimer.js file</div>
            </div>
            <div class="col-sm-12 switch-wrap">
                <div class="switch">
                    <input class="cmn-toggle cmn-toggle-round js-input" type="checkbox" id="downloadJSON" name="downloadJSON" checked>
                    <label for="downloadJSON"></label>
                </div>
                <div class="switch-label mod-right">JSON project file</div>
            </div>
            <div class="col-sm-12 switch-wrap">
                <div class="switch">
                    <input class="cmn-toggle cmn-toggle-round js-input" type="checkbox" id="downloadWord" name="downloadWord" checked>
                    <label for="downloadWord"></label>
                </div>
                <div class="switch-label mod-right">Word Document (Beta)</div>
            </div>
            <div class="col-sm-12">
                <br><br>
                <button id="Download" class="btn btn-primary mod-block mod-ghost"><i class="icon-download-folder"></i> Download</button>
            </div>
        </div>

        <div class="col-sm-7 col-md-9">
            <div id="disclaimers"></div>
        </div>
    </div>
