<header>
    <h2 class="modal-title">Select a project type</h2>
</header>

<section>
    <ul class="projectType">
        <li class="projectType-item">
            <a href="#" class="target" data-type="LP">
                <i class="icon" data-icon="&#xe424;"></i>
                <h3 class="projectType-name">Landing Page</h3>
            </a>
        </li>
        <li class="projectType-item">
            <a href="#" class="target" data-type="Other">
                <i class="icon" data-icon="&#xe124;"></i>
                <h3 class="projectType-name">Non-Landing Page</h3>
            </a>
        </li>
    </ul>
</section>