<section class="container">
    <div class="col-sm-4 col-md-3">
        <h1 class="title">
            Disclaiminator
        </h1>
        <h2 class="subtitle">
            Required Tracking Scripts
        </h2>
        <div id="project-sticker" class="sticker">
            <span class="ProjectName inputProjectName"></span>
            <span class="owner inputProjectManager"></span>
            <br>
            <span class="helper adTrax"></span> <span class="helper">|</span> <span class="helper inputTracking"></span>
            <br>
        </div>
        <br><br>
        <p>
            Select the tracking scripts that are required for your
            landing page or microsite project.
        </p>

    </div>

    <div class="col-sm-7 col-md-9">
        <section class="col-sm-12">
            <div class="switch-wrap">
                <div class="switch">
                    <input class="cmn-toggle cmn-toggle-round js-input" type="checkbox" id="omnitureSwitch" name="omnitureSwitch" checked>
                    <label for="omnitureSwitch"></label>
                </div>
                <div class="switch-label mod-right mod-header">Omniture / SiteCatalyst (standard)</div>
            </div>
            <br>
            <p class="col-sm-10 row">
                Adobe Omniture (formerly SiteCatalyst) is used to track customer interactions and obtains information
                including browser info, search queries, time on site, clicks, user location, user language.
            </p>
        </section>

        <section class="col-sm-12">
            <div class="switch-wrap">
                <div class="switch">
                    <input class="cmn-toggle cmn-toggle-round js-input" type="checkbox" id="remarketingSwitch" name="remarketingSwitch" checked>
                    <label for="remarketingSwitch"></label>
                </div>
                <div class="switch-label mod-right mod-header">Google Remarketing (standard)</div>
            </div>
            <br>
            <p class="col-sm-10 row">
                Remarketing lets you show ads to people who've visited your website or used your mobile app. When people
                leave your website without buying anything, for example, remarketing helps you reconnect with them by
                showing relevant ads across their different devices.
            </p>
        </section>
        <section class="col-sm-12">
            <div class="switch-wrap">
                <div class="switch">
                    <input class="cmn-toggle cmn-toggle-round js-input" type="checkbox" id="maxymiserSwitch" name="maxymiserSwitch">
                    <label for="maxymiserSwitch"></label>
                </div>
                <div class="switch-label mod-right mod-header">Maxymiser</div>
            </div>
            <br>
            <p class="col-sm-10 row">
                Using Maxymiser, marketers can bring customer data into focus to gain valuable insights and deliver the
                most relevant, personalized experiences with simple A/B testing, complex multivariate campaign
                deployments, advanced customer statistics and server side testing.
            </p>
        </section>
        <section class="col-sm-12">
            <div class="switch-wrap">
                <div class="switch">
                    <input class="cmn-toggle cmn-toggle-round js-input" type="checkbox" id="floodlightSwitch" name="floodlightSwitch">
                    <label for="floodlightSwitch"></label>
                </div>
                <div class="switch-label mod-right mod-header">Floodlight</div>
            </div>
            <br>
            <div class="col-sm-10 row">
                <p class="">
                    Floodlight uses activities, tags, and a lookback window to count conversions.  Paste desired floodlight
                    tag below:
                </p>
                <textarea name="floodlightTag" id="floodlightTag" class="input-code" rows="20" disabled></textarea>
            </div>
        </section>
    </div>
</section>
