@font-face {
  font-family: 'OptimistThin';
  src: url("../fonts/optimist/Optimist_W_XLt.eot");
  src: url("../fonts/optimist/Optimist_W_XLt.eot?#iefix") format("embedded-opentype"), url("../fonts/optimist/Optimist_W_XLt.woff") format("woff"), url("../fonts/optimist/Optimist_W_XLt.woff2") format("woff2"), url("../fonts/optimist/ptimist_W_XLt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OptimistThinItalic';
  src: url("../fonts/optimist/Optimist_W_XLtit.eot");
  src: url("../fonts/optimist/Optimist_W_XLtit.eot?#iefix") format("embedded-opentype"), url("../fonts/optimist/Optimist_W_XLtit.woff") format("woff"), url("../fonts/optimist/Optimist_W_XLtit.woff2") format("woff2"), url("../fonts/optimist/ptimist_W_XLtit.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OptimistLight';
  src: url("../fonts/optimist/Optimist_W_Lt.eot");
  src: url("../fonts/optimist/Optimist_W_Lt.eot?#iefix") format("embedded-opentype"), url("../fonts/optimist/Optimist_W_Lt.woff") format("woff"), url("../fonts/optimist/Optimist_W_Lt.woff2") format("woff2"), url("../fonts/optimist/ptimist_W_Lt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'OptimistLightItalic';
  src: url("../fonts/optimist/Optimist_W_Ltit.eot");
  src: url("../fonts/optimist/Optimist_W_Ltit.eot?#iefix") format("embedded-opentype"), url("../fonts/optimist/Optimist_W_Ltit.woff") format("woff"), url("../fonts/optimist/Optimist_W_Ltit.woff2") format("woff2"), url("../fonts/optimist/ptimist_W_Ltit.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'OptimistRegular';
  src: url("../fonts/optimist/Optimist_W_Rg.eot");
  src: url("../fonts/optimist/Optimist_W_Rg.eot?#iefix") format("embedded-opentype"), url("../fonts/optimist/Optimist_W_Rg.woff") format("woff"), url("../fonts/optimist/Optimist_W_Rg.woff2") format("woff2"), url("../fonts/optimist/ptimist_W_Rg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'OptimistRegularItalic';
  src: url("../fonts/optimist/Optimist_W_It.eot");
  src: url("../fonts/optimist/Optimist_W_It.eot?#iefix") format("embedded-opentype"), url("../fonts/optimist/Optimist_W_It.woff") format("woff"), url("../fonts/optimist/Optimist_W_It.woff2") format("woff2"), url("../fonts/optimist/ptimist_W_It.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'OptimistSemibold';
  src: url("../fonts/optimist/Optimist_W_SBd.eot");
  src: url("../fonts/optimist/Optimist_W_SBd.eot?#iefix") format("embedded-opentype"), url("../fonts/optimist/Optimist_W_SBd.woff") format("woff"), url("../fonts/optimist/Optimist_W_SBd.woff2") format("woff2"), url("../fonts/optimist/ptimist_W_SBd.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'OptimistSemiboldItalic';
  src: url("../fonts/optimist/Optimist_W_SBdit.eot");
  src: url("../fonts/optimist/Optimist_W_SBdit.eot?#iefix") format("embedded-opentype"), url("../fonts/optimist/Optimist_W_SBdit.woff") format("woff"), url("../fonts/optimist/Optimist_W_SBdit.woff2") format("woff2"), url("../fonts/optimist/ptimist_W_SBdit.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'OptimistBold';
  src: url("../fonts/optimist/Optimist_W_Bd.eot");
  src: url("../fonts/optimist/Optimist_W_Bd.eot?#iefix") format("embedded-opentype"), url("../fonts/optimist/Optimist_W_Bd.woff") format("woff"), url("../fonts/optimist/Optimist_W_Bd.woff2") format("woff2"), url("../fonts/optimist/ptimist_W_Bd.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'OptimistBoldItalic';
  src: url("../fonts/optimist/Optimist_W_Bdit.eot");
  src: url("../fonts/optimist/Optimist_W_Bdit.eot?#iefix") format("embedded-opentype"), url("../fonts/optimist/Optimist_W_Bdit.woff") format("woff"), url("../fonts/optimist/Optimist_W_Bdit.woff2") format("woff2"), url("../fonts/optimist/ptimist_W_Bdit.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}